---
---

@import "{{ site.theme }}";

header summary {
  cursor: pointer;
  width: fit-content;   
}

a:is(:hover, :focus) {
  text-decoration: underline;
  font-weight: revert;
}

a.dl:is(:hover, :focus),
.blobdl a:is(:hover, :focus) {
  text-decoration: none;
}

.blobdl tr > :not(:first-child) {
  text-align: center;
}

.mdtr {
  color: red;
}

.rcmd {
  color: orange;
}

.lgnd {
  display: flex;
  justify-content: end;
}

.lgnd div {
  position: relative;
  top: -2rem;
}

.lgnd small {
  color: black;
}

ul {
  margin: revert;
}

ul.toc,
.toc ul {
  padding-left: 1rem;
}

.toc li {
  list-style-type: none;
}

h2 {
  margin-top: 3rem;
}

table {
  margin-bottom: 3rem;
}

.alert-red {
  box-sizing: border-box;
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #fff;
  background-color: #dd0000;
}

.alert-red:before,
.alert-red:after {
  content: "";
  display: table;
  clear: both;
}

.alert-red h1,
.alert-red h2,
.alert-red h3,
.alert-red h4,
.alert-red h5,
.alert-red h6 {
  color: #fff;
  margin: 10px 0;
}

.alert-red p {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.alert-red a {
  text-decoration: underline;
  color: #fff;
}
