---
---

@import "{{ site.theme }}";

header summary {
  cursor: pointer;
  width: fit-content;   
}

a:is(:hover, :focus) {
  text-decoration: underline;
  font-weight: revert;
}

.blobdl a:is(:hover, :focus) {
  text-decoration: none;
}

.blobdl tr > :not(:first-child) {
  text-align: center;
}

tr.mdtr {
  color: red;
}

tr.rcmd {
  color: orange;
}
