---
---

@import "{{ site.theme }}";

summary.toc {
  cursor: pointer;
  width: fit-content;   
}

a.toc {
  font-weight: revert;
  color: revert;
  text-decoration: underline; 
}

.tac {
  text-align: center;
}
