<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script defer src="/assets/js/blobdl.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% if site.logo %}
          <a href="{{ "/" | absolute_url }}"><img style="max-width:45%;" src="{{ site.logo | relative_url }}" alt="Logo" /></a>
        {% endif %}

        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <details>
          <summary style="cursor:pointer;width:fit-content;">Burnout 3: Takedown</summary>
          <details>
            <summary style="cursor:pointer;margin-left:1rem;width:fit-content;">Retail</summary>
            <a style="margin-left:2rem;" href="/b3">Patches</a>
          </details>
        </details>

        <details>
          <summary style="cursor:pointer;width:fit-content;">Burnout Revenge</summary>
          <details>
            <summary style="cursor:pointer;margin-left:1rem;width:fit-content;">Retail</summary>
            <a style="margin-left:2rem;" href="/b4">Patches</a>
          </details>
        </details>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><a href="{{ site.github.owner_url }}">GitHub Profile</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
