<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <link rel="shortcut icon" type="image/png" href="{{ '/favicon.png' | relative_url }}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <script defer src="/assets/js/blobdl.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ "/" | absolute_url }}"><img style="max-width:8rem;" src="{{ site.logo | relative_url }}" alt="Logo" /></a>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>CONTENTS</p>

        <details>
          <summary>Burnout 3: Takedown</summary>
          <details>
            <summary style="margin-left:1rem;">PS2 Retail</summary>
            <a style="margin-left:2rem;" href="/b3online">Online</a>
          </details>
        </details>

        <details>
          <summary>Burnout Revenge</summary>
          <details>
            <summary style="margin-left:1rem;">PS2 Retail</summary>
            <a style="margin-left:2rem;" href="/b4online">Online</a>
          </details>
        </details>

        <details>
          <summary>Burnout Online</summary>
          <a style="margin-left:1rem;" href="/bops2">PS2</a>
        </details>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <small><a href="{{ site.github.owner_url }}">GitHub</a> | <a href="https://ko-fi.com/nehalem_">Donate</a></small>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
